html, body {
	font-family: Consolas, monaco, monospace;
	/*background-color: #272822;*/
	color: black;
}

.container {

}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}

.lateral_menu {
	background-color: #44000c;
	position: fixed;
	left: 0px;
	padding-top: 50px;
	height: 100%;
	width: 170px;
}

.up_menu {
	background-color: #44000c;
	margin-left: -15px;
	margin-right: -15px;

}

.page_content {
	position: relative;
	left: 210px;
	width: 800px;
}

.white {
	color: white;
}

.reset {
	padding-left: 0px;
}
